### iTOL Client Usage Example

In [1]:
from iTOL_client import ITOL_session

In [2]:
login = login
pwd = pwd

Login to yout iTOL account and get the information about all your workspaces, projects and trees:

In [3]:
my_itol = ITOL_session(login=login, password=pwd)

### Surfing through your iTOL account

Here is your workspaces:

In [4]:
# workspaces
itol_data = my_itol.data
itol_data.table

            Name     ID                                        Description
0        Default  76963  Default workspace. Edit the information in the...
1  new workspace  77443                                    No description.

Let's look into Default project

In [5]:
itol_data['Default'].table

,Name,ID,SID,Description
0,Marinimicrobia project,117103,17pQbrlkINkdE,protein predictions for 177 Marinimicrobia.
1,Sample project,117772,,No description.

Also, you can call the project by id

In [6]:
itol_data['76963'].table

,Name,ID,SID,Description
0,Marinimicrobia project,117103,17pQbrlkINkdE,protein predictions for 177 Marinimicrobia.
1,Sample project,117772,,No description.

Moreover, you can get any parameter of the workspace (for projects and trees you can run a similar command):

In [7]:
itol_data['Default'].name, itol_data['Default'].id, itol_data['Default'].desc

('Default',
 '76963',
 'Default workspace. Edit the information in the workspace options. Change the descriptions by clicking them.')

Dive deeper into the project:

In [8]:
itol_data['Default']['Marinimicrobia project'].table

,Name,ID,Description,Datasets,Inserted,Modified,Accessed
0,tree,10925215823151881597867576,first tree on an alignment,text labels [Text labels],2020-08-19,2020-08-25 22:52,2020-08-28 12:06
1,tree_renamed,19517820316233851598363824,No description,None,2020-08-25,2020-08-25 22:50,2020-08-26 12:08
2,tree_renamed,195178203162487081598437297,No description,None,2020-08-26,,2020-08-26 12:21
3,Python tree,1092254246295561598648377,Python generated tree,Completeness & Contamination [Multi value bar ...,2020-08-28,2020-08-28 22:59,

Touch trees with duplicated names

In [9]:
itol_data['Default']['Marinimicrobia project']['tree_renamed']

[<iTOL_client.ITOL_tree at 0x1bf215bc5f8>,
 <iTOL_client.ITOL_tree at 0x1bf215bc6a0>]

In [10]:
itol_data['Default']['Marinimicrobia project']['Python tree'].datasets

'Completeness & Contamination [Multi value bar chart / pie chart], Genome size [Simple bar chart], Clades [Color strip]'

### Delete workspaces, projects or trees by their IDs

In [11]:
my_itol.data.table

            Name     ID                                        Description
0        Default  76963  Default workspace. Edit the information in the...
1  new workspace  77443                                    No description.

In [12]:
my_itol.delete('workspace', '77443')

'{"id":"hd-ws-77443","p":"ws-77443"}'

In [13]:
my_itol.data.table

      Name     ID                                        Description
0  Default  76963  Default workspace. Edit the information in the...

### Reload iTOL data

In [4]:
my_itol.get_data()